<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Coding</title>
  <link rel="stylesheet" href="<%=elementUiCssUri%>">
  <link rel="stylesheet" href="<%=indexCssUri%>">
  <script type="text/javascript">
    let ipNotEmptyText = "<%=language.ipNotEmptyText%>";
    let ipIncorrectFormatText = "<%=language.ipIncorrectFormatText%>";
    let devNameNotEmptyText = "<%=language.devNameNotEmptyText%>";
    let devNameExistText = "<%=language.devNameExistText%>";
    let devDeleteHintTitleText = "<%=language.devDeleteHintTitleText%>";
    let devDeleteHintContextText = "<%=language.devDeleteHintContextText%>";
    let devDeleteHintYesButtonText = "<%=language.devDeleteHintYesButtonText%>";
    let devDeleteHintNoButtonText = "<%=language.devDeleteHintNoButtonText%>";
  </script>
</head>

<body>
  <div id="app">
    <div style="width: 50%;margin: auto;margin-top: 10%;">
      <el-form ref="form" :rules="rules" :model="form" label-width="130px">
        <el-form-item label="<%=language.devIpTxt%>" prop="devIp">
          <el-input disabled placeholder="" v-model="form.devIp" @input="inputChange">
          </el-input>
        </el-form-item>
        <el-form-item label="<%=language.devNameTxt%>" prop="devName">
          <el-input placeholder="" v-model="form.devName" @input="inputChange"></el-input>
        </el-form-item>
        <el-form-item label="<%=language.devPwdTxt%>">
          <el-input placeholder="" v-model="form.devPwd" show-password @input="inputChange"></el-input>
        </el-form-item>
      </el-form>
      <div style="text-align: right;">
        <el-button type="primary" style="margin: auto;" @click="onUpdate">
          <%=language.devUpdate%>
        </el-button>
        <el-button type="danger" style="margin: auto;" @click="onDelete">
          <%=language.devDelete%>
        </el-button>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="<%=vueJsUri%>"></script>
<script type="text/javascript" src="<%=elementUiJsUri%>"></script>
<script type="text/javascript" src="<%=indexJsUri%>"></script>

</html>