<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Coding</title>
  <link rel="shortcut icon" href="https://csdnimg.cn/public/favicon.ico">
  <link rel="stylesheet" href="<%=elementUiCssUri%>">
  <link rel="stylesheet" href="<%=cssUri%>">
  <script>
    let nameNotEmptyText = '<%=language.nameNotEmptyText%>';
  </script>
</head>

<body style="background:#eaeaea;">
  <div id="app" style="margin:0px;">
    <el-container style="height: 850px; border: 1px solid #eee;background: #fff;">
      <el-aside class="tpl" width="250px">
        <div class="tplTitle">
          <%=language.templateListTxt%>
        </div>
        <div v-for="item in templateList">
          <div :class="['tplBackground',selectTplName==item.tplName?'tplSelect':'']" @click="selectTpl(item)">
            <el-image class="img" :src="item.imageSrc" fit="fit">
            </el-image>
            {{item.tplName}}
          </div>
        </div>
      </el-aside>

      <el-main style="border-left: 1px solid #eee;">
        <el-form ref="form" :rules="rules" :model="form" label-width="100px">
          <el-form-item label="<%=language.nameTxt%>" prop="name">
            <el-input v-model="form.name" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.buildidTxt%>" prop="bundleid">
            <el-input v-model="form.bundleid" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.savePathTxt%>" prop="savePath">
            <el-input disabled placeholder="" v-model="form.savePath" class="input-with-select" @input="inputChange">
              <el-button slot="append" @click="selectSavePath">
                <%=language.selectPathText%>
              </el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="<%=language.descriptionTxt%>" prop="description">
            <el-input v-model="form.description" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.versionTxt%>" prop="version">
            <el-input v-model="form.version" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.vendorIdTxt%>" prop="vendorId">
            <el-input v-model="form.vendorId" @input="inputChange" placeholder="10001"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.vendorNameTxt%>" prop="vendorName">
            <el-input v-model="form.vendorName" @input="inputChange" placeholder="Username"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.vendorEmailTxt%>" prop="vendorEmail">
            <el-input v-model="form.vendorEmail" @input="inputChange" placeholder="Example@acoinfo.com"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.vendorPhoneTxt%>" prop="vendorPhone">
            <el-input v-model="form.vendorPhone" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.vendorFaxTxt%>" prop="vendorFax">
            <el-input v-model="form.vendorFax" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="<%=language.otherText%>" prop="other">
            <el-checkbox-group v-model="form.other" @change="inputChange">
              <el-checkbox label="openFile">
                <%=language.openFileText%>
              </el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit" :loading="loading">
              <%=language.createButtonTxt%>
            </el-button>
          </el-form-item>
        </el-form>
      </el-main>
    </el-container>
  </div>
</body>
<script type="text/javascript" src="<%=vueJsUri%>"></script>
<script type="text/javascript" src="<%=elementUiJsUri%>"></script>
<script type="text/javascript" src="<%=indexJsUri%>"></script>

</html>