<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Coding</title>
  <link rel="shortcut icon" href="https://csdnimg.cn/public/favicon.ico">
  <link rel="stylesheet" href="<%=elementUiCssUri%>">
  <link rel="stylesheet" href="<%=cssUri%>">
</head>

<body style="background:#eaeaea;">
  <div id="app" style="margin:0px;">
    <el-container style="height: 850px; border: 1px solid #eee;background: #fff;">
      <el-aside class="tpl" width="250px">
        <div class="tplTitle">模板列表</div>
        <div v-for="item in templateList">
          <div :class="['tplBackground',selectTplName==item.tplName?'tplSelect':'']" @click="selectTpl(item)">
            <el-image class="img" :src="item.imageSrc" fit="fit">
            </el-image>
            {{item.tplName}}
          </div>
        </div>
      </el-aside>

      <el-main style="border-left: 1px solid #eee;">
        <el-form ref="form" :model="form" label-width="100px">
          <el-form-item label="Name">
            <el-input v-model="form.name" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="BuildID">
            <el-input v-model="form.bundleid" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="Save Path">
            <el-input disabled placeholder="请输入内容" v-model="form.savePath" class="input-with-select"
              @input="inputChange">
              <el-button slot="append" @click="selectSavePath">选择路径</el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="Description">
            <el-input v-model="form.description" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="Version">
            <el-input v-model="form.version" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="Vendor Id">
            <el-input v-model="form.vendorId" @input="inputChange" placeholder="required when publish"></el-input>
          </el-form-item>
          <el-form-item label="Vendor Name">
            <el-input v-model="form.vendorName" @input="inputChange" placeholder="required when publish"></el-input>
          </el-form-item>
          <el-form-item label="Vendor Email">
            <el-input v-model="form.vendorEmail" @input="inputChange" placeholder="required when publish"></el-input>
          </el-form-item>
          <el-form-item label="Vendor Phone">
            <el-input v-model="form.vendorPhone" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="Vendor Fax">
            <el-input v-model="form.vendorFax" @input="inputChange"></el-input>
          </el-form-item>
          <el-form-item label="其他项">
            <el-checkbox-group v-model="form.other" @change="inputChange">
              <el-checkbox label="gitInit">git 初始化</el-checkbox>
              <el-checkbox label="openFile">打开项目</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
          </el-form-item>
        </el-form>
      </el-main>
    </el-container>
  </div>
</body>
<script type="text/javascript" src="<%=vueJsUri%>"></script>
<script type="text/javascript" src="<%=elementUiJsUri%>"></script>
<script type="text/javascript" src="<%=indexJsUri%>"></script>
</html>